@font-face {
  font-family: "TT Lakes Regular";
  src: url("/fonts/TTLakes-Regular.eot");
  src: url("/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Regular.woff") format("woff"),
    url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/fonts/TTLakes-Medium.eot");
  src: url("/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Medium.woff") format("woff"),
    url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
}

@media (min-width: 320px) {
  body {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    border-top: 3px solid rgba(217, 255, 245, 1);
    width: 320px;
    padding-bottom: 15px;
    background: #f8f8f8;
  }

  .header {
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
  }
  .header__title {
    font-family: "TT Lakes Regular";
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
  }
  .title {
  }

  .swiper {
    padding-left: 16px;
  }
  .swiper-grid {
    display: none;
  }
  .swiper-wrapper {
    display: flex;
    padding: 0 0 40px 0;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 224px;
    height: 72px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
  }

  .swiper-slide img {
  }
  .button-next {
    cursor: pointer;
  }

  .swiper-pagination {
    --swiper-pagination-bullet-size: 12px;
  }

  .swiper-button-prev {
  }
  .swiper-button-next {
  }
  .swiper-scrollbar {
  }
  #button {
    display: none;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
  .swiper-wrapper {
    display: none;
  }
  .swiper-grid {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 16px;
    margin-left: 1.5%;
  }
  .swiper-slide-grid {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 224px;
    height: 72px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
  }
  #button {
    display: block;
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 24px 0 0 24px;
    font-family: "TT Lakes Medium";
    font-size: 16px;
  }
  #button img {
  }
}
